In [1]:
import pandas as pd

**Exercise 4.1. [Purpose: To gain experience withthe `apply` function in R, while dealing with a concrete example of computing conditional probabilities.]** The eye-color hair-color data from Table 4.1 are built into R as the array named `HairEyeColor`. The arry is frequencies of eye and hair color for males and feamles. Run the following code in R.

In your write-up, include each line of the program and its results. Explain what each line does (in a bit more detail than the inline comments). Extend the above commands by also computing the probabilities of the hair colors given Brown eyes, and the probabilities of the eye colors given Brown hair.

In [2]:
# Generate the data - replicating the R dataset
data = [[32, 11, 10, 3], 
        [53, 50, 25, 15],
        [10, 10, 7, 7],
        [3, 30, 5, 8], 
        [36, 9, 5, 2],
        [66, 34, 29, 14],
        [16, 7, 7, 7],
        [4, 64, 5, 8]]
index = pd.MultiIndex.from_tuples([('male', 'black'),
                                   ('male', 'brown'),
                                   ('male', 'red'),
                                   ('male', 'blond'),
                                   ('female', 'black'),
                                   ('female', 'brown'),
                                   ('female', 'red'),
                                   ('female', 'blond')],
                                  names = ['sex', 'hair'])
columns = ['brown', 'blue', 'hazel', 'green']
hair_eye_color = pd.DataFrame(data, index = index, columns = columns)
hair_eye_color.columns.set_names(['eyes'], inplace = True)

In [3]:
# Show the data
hair_eye_color

eyes          brown  blue  hazel  green
sex    hair
male   black     32    11     10      3
       brown     53    50     25     15
       red       10    10      7      7
       blond      3    30      5      8
female black     36     9      5      2
       brown     66    34     29     14
       red       16     7      7      7
       blond      4    64      5      8

In [4]:
# Sum accross sex - combining the data for males and females into a single table
eye_hair_freq = hair_eye_color.groupby(level = 1).sum()
eye_hair_freq

eyes   brown  blue  hazel  green
hair
black     68    20     15      5
blond      7    94     10     16
brown    119    84     54     29
red       26    17     14     14

In [5]:
# Calculating the joint probabilities, that is, the probability of each combination
# of hair/eyes colour
# This produces Table 4.1
eye_hair_prop = eye_hair_freq / eye_hair_freq.values.sum()
eye_hair_prop = eye_hair_prop.T[['black', 'brown', 'red', 'blond']]
eye_hair_prop.round(decimals = 2)

hair   black  brown   red  blond
eyes
brown   0.11   0.20  0.04   0.01
blue    0.03   0.14  0.03   0.16
hazel   0.03   0.09  0.02   0.02
green   0.01   0.05  0.02   0.03

In [6]:
# Sum accross sex and hair
hair_freq = hair_eye_color.groupby(level = 1).sum().sum(axis = 1)
hair_freq

hair
black    108
blond    127
brown    286
red       71
dtype: int64

In [7]:
# Calculating the marginal probabilities for hair colour, that is, the probability of each
# hair colour independently of the eye color
# This produces the hair marginal probabilities in Table 4.1
hair_prop = hair_freq / hair_freq.values.sum()
hair_prop = hair_prop[['black', 'brown', 'red', 'blond']]
hair_freq.round(decimals = 2)

hair
black    108
blond    127
brown    286
red       71
dtype: int64

In [8]:
# Sum accross sex and eye
eye_freq = hair_eye_color.groupby(level = 1).sum().sum()
eye_freq

eyes
brown    220
blue     215
hazel     93
green     64
dtype: int64

In [9]:
# Calculating the marginal probabilities for eye colour, that is, the probability of each
# eye colour independently of the hair color
# This produces the eye marginal probabilities in Table 4.1
eye_prop = eye_freq / eye_freq.values.sum()
eye_prop.round(decimals = 2)

eyes
brown    0.37
blue     0.36
hazel    0.16
green    0.11
dtype: float64

In [10]:
# Conditional probability for each hair colour given that eye colour is blue
# P(hair_colour = h | eye_colour = blue) = P(hair_colour = h, eye_colour = blue) /
#                                          P(eye_colour = blue)
(eye_hair_prop.loc['blue'] / eye_prop['blue']).round(decimals = 2)

hair
black    0.09
brown    0.39
red      0.08
blond    0.44
Name: blue, dtype: float64

In [11]:
# Conditional probability for each hair colour given that eye colour is brown
# P(hair_colour = h | eye_colour = brown) = P(hair_colour = h, eye_colour = brown) /
#                                           P(eye_colour = brown)
(eye_hair_prop.loc['brown'] / eye_prop['brown']).round(decimals = 2)

hair
black    0.31
brown    0.54
red      0.12
blond    0.03
Name: brown, dtype: float64

In [12]:
# Conditional probability for each eye colour given that hair colour is brown
# P(eye_colour = e | hair_colour = brown) = P(eye_colour = e, hair_colour = brown) /
#                                           P(hair_colour = brown)
(eye_hair_prop['brown'] / hair_prop['brown']).round(decimals = 2)

eyes
brown    0.42
blue     0.29
hazel    0.19
green    0.10
Name: brown, dtype: float64